name: npm diff

on:
  pull_request:
    types: [assigned]

jobs:
  post-comment:
    if: ${{ contains(github.head_ref, 'dependabot/npm_and_yarn/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ybiquitous/npm-diff-action@v1
