name: npm diff

on:
  pull_request:
    types: [assigned]

jobs:
  post-comment:
    if: ${{ contains(github.head_ref, 'dependabot/npm_and_yarn/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ybiquitous/npm-diff-action@v1
