name: npm diff

on:
  pull_request:
    types: [assigned]

jobs:
  post-comment:
    if: ${{ contains(github.head_ref, 'dependabot/npm_and_yarn/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ybiquitous/npm-diff-action@v1
